@page "/{url?}"
@using DemoProject.Client.Pages.NotePadPW
@using DemoProject.Client.Service

<RadzenHtmlEditor @bind-Value=@htmlValue Input="OnInput" Execute="OnExecute" style="height: 450px;" Disabled="@IsEditorDisabled">
	<RadzenHtmlEditorUndo />
	<RadzenHtmlEditorRedo />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorBold />
	<RadzenHtmlEditorItalic />
	<RadzenHtmlEditorUnderline />
	<RadzenHtmlEditorStrikeThrough />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorAlignLeft />
	<RadzenHtmlEditorAlignCenter />
	<RadzenHtmlEditorAlignRight />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorIndent />
	<RadzenHtmlEditorOutdent />
	<RadzenHtmlEditorUnorderedList />
	<RadzenHtmlEditorOrderedList />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorColor />
	<RadzenHtmlEditorBackground />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorRemoveFormat />
	<RadzenHtmlEditorSubscript />
	<RadzenHtmlEditorSuperscript />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorLink />
	<RadzenHtmlEditorUnlink />
	<RadzenHtmlEditorImage />
	<RadzenHtmlEditorFontName />
	<RadzenHtmlEditorFontSize />
	<RadzenHtmlEditorFormatBlock />

	<RadzenHtmlEditorSeparator />


	<RadzenHtmlEditorCustomTool CommandName="ChangeUrl" Icon="edit" />
	<RadzenHtmlEditorCustomTool CommandName="SetPassword" Icon="password" />
</RadzenHtmlEditor>

@* <ChangeUrlComponent Value="@url" isOpen="IsOpen" OnSave="OnModalSave"/>

<SetPassworddComponent Value="@password" IsOpen="IsOpenPassword" OnSave="OnModalSavePassword" OnProtectForMe="OnProtecMeModalSave" />

<PutPasswordComponent Value="@passwordToOpen" IsOpen="IsOpenPutPassword" OnSave="OnModalSavePutPassword" /> *@

<SetPassworddComponent Value="@password"
					   IsOpen="@IsOpenPassword"
					   OnSave="OnModalSavePassword"
					   OnProtectForMe="OnProtecMeModalSave"
					   OnClose="() => IsOpenPassword = false" />

<ChangeUrlComponent Value="@url"
					IsOpen="@IsOpen"
					OnSave="OnModalSave"
					OnClose="() => IsOpen = false" />

<PutPasswordComponent Value="@passwordToOpen"
					  IsOpen="@IsOpenPutPassword"
					  OnSave="OnModalSavePutPassword"
					  OnClose="() => IsOpenPutPassword = false" />


<AuthorizeView>
	<Authorized>
		<button class="floating-button" @onclick="OpenSummarizePanel">
			✏️ Summarize
		</button>

		<SummarizeComponent Text="@noteSummary" IsOpen="@showPanel"
							IsLoading="@IsLoading"
							OnClose="@(() => { showPanel = false; })" />
	</Authorized>

</AuthorizeView>






